name: epic-awesome-gamer

services:
  epic-awesome-gamer:
    image: ghcr.io/10000ge10000/epic-awesome-gamer:latest
    restart: always
    container_name: epic-awesome-gamer
    
    environment:
      - TZ=Asia/Shanghai

      # ----------------------------------------
      # 核心账号配置
      # ----------------------------------------
      - EPIC_EMAIL=你的邮箱@example.com
      - EPIC_PASSWORD=你的密码
      - GEMINI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxx

      # ----------------------------------------
      # AiHubMix / Gemini 配置
      # ----------------------------------------
      - GEMINI_BASE_URL=https://aihubmix.com
      - GEMINI_MODEL=gemini-3-flash-preview-free

      # ----------------------------------------
      # 运行参数
      # ----------------------------------------
      - ENABLE_APSCHEDULER=true
      
      - DISABLE_BEZIER_TRAJECTORY=true
      - EXECUTION_TIMEOUT=120
      - RESPONSE_TIMEOUT=30
      - RETRY_ON_FAILURE=true
      - WAIT_FOR_CHALLENGE_VIEW_TO_RENDER_MS=1500
      - CONSTRAINT_RESPONSE_SCHEMA=true
      - CHALLENGE_CLASSIFIER_MODEL=gemini-3-flash-preview-free
      - IMAGE_CLASSIFIER_MODEL=gemini-3-flash-preview-free
      - SPATIAL_POINT_REASONER_MODEL=gemini-3-flash-preview-free
      - SPATIAL_PATH_REASONER_MODEL=gemini-3-flash-preview-free
      - IMAGE_CLASSIFIER_THINKING_BUDGET=970
      - SPATIAL_POINT_THINKING_BUDGET=1387
      - SPATIAL_PATH_THINKING_BUDGET=1652

    volumes:
      - "./volumes/:/app/app/volumes/"

    entrypoint: [ "/usr/bin/tini", "--" ]
    command: xvfb-run --auto-servernum --server-num=1 --server-args='-screen 0, 1920x1080x24' uv run app/deploy.py

    mem_limit: 4g
    shm_size: '2gb'
